<form method="post" action="{{ path(path, {'id': entity.id}) }}" onsubmit="return confirm('Voulez vous vraiment {{ entity.isActive ? 'désactiver' : 'activer' }} cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('switch' ~ entity.id) }}">
    <button {{ entity.isActive ? 'class="cc_active" title="activé, cliquer pour désactiver"' : 'class="not-active" title="désactivé, cliquer pour activer"' }}></button>
</form>