{% extends "emails/base.html.twig" %}
{% block emailContent %}

    <h1>Bonjour,</h1>

    <p>Pour enregistrer votre nouveau mot de passe, merci de cliquer sur le lien suivant :</p>

    <a href="{{ siteBaseUrl ~ path('app_reset_password', {token: resetToken.token}) }}">{{ siteBaseUrl ~ path('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien expire après {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Bonne journée !</p>
{% endblock %}
