{% extends 'base.html.twig' %}

{% block title %}Demande d'un nouveau mot de passe{% endblock %}

{% block body %}
    {% include "_partials/_header.html.twig" with {
        'title': 'Demande d\'un nouveau mot de passe',
        'subtitle': 'Merci de renseigner votre adresse email, nous vous enverrons un lien de création de nouveau mot de passe.'
    } %}
    <main id="main">
        <article class="yvi-container">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="font-bold text-red-600 underline mb-6" role="alert">{{ flash_error }}</div>
            {% endfor %}
            
            {% form_theme requestForm 'tailwind_2_layout.html.twig' %}
            {{ form_start(requestForm) }}
                {{ form_widget(requestForm) }}

                <button class="w-full font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4">Envoyer ma demande</button>
            {{ form_end(requestForm) }}
        </article>
    </main>
{% endblock %}
