{% extends "base.html.twig" %}
{% block stylesheets %}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
{% endblock %}
{% block body %}
    {% include "_partials/_header.html.twig" with {
        'title': siteInfo.getSiteInfo.title,
        'subtitle': siteInfo.getSiteInfo.description|striptags
    } %}
    <main id="main">
        {% if siteInfo.getSiteInfo.pictureName %}
            {% include "_partials/_main-picture.html.twig" with {
                path: siteInfo.getSiteInfo.pictureName,
                title: siteInfo.getSiteInfo.title
            } %}
        {% endif %}
        <article class="yvi-container" id="future-dates">
            <h2>Nos prochaines dates</h2>
                {% include "_partials/_calendar-slider.html.twig" %}
            </div>
            <div class="more">
                <a href="{{ path('app_calendar') }}">Découvrir plus de dates</a>
            </div>
        </article>
        <article class="yvi-container">
            <h2>Tous les projets</h2>
            {% include "_partials/_projects.html.twig" %}
        </article>
    </main>

{% endblock %}