<form method="post" action="{{ path('app_edit_member_delete', {'id': member.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce musicien, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
