{% extends 'admin/base.html.twig' %}

{% block title %}Modifier les informations du musicien{% endblock %}

{% block body %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
    <div class="mb-5 p-5 pl-0">
        <h1>Modifier les informations du musicien</h1>
    </div>

    {{ include('admin/member/_form.html.twig') }}
</div>

{% endblock %}