<form method="post" action="{{ path('app_edit_calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer cette date, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
