{% extends 'admin/base.html.twig' %}

{% block title %}Enregistrement d'une nouvelle date{% endblock %}

{% block body %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
    <h1>Enregistrement d'une nouvelle date</h1>

    {{ include('admin/calendar/_form.html.twig') }}

</div>
{% endblock %}