<form method="post" action="{{ path('app_edit_place_delete', {'id': place.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce lieu, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
