{% extends 'admin/base.html.twig' %}

{% block title %}Enregistrement d'un nouveau lieu{% endblock %}

{% block body %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
    <h1>Enregistrement d'un nouveau lieu</h1>

    {{ include('admin/place/_form.html.twig') }}

</div>
{% endblock %}