<form method="post" action="{{ path('app_edit_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce projet, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
