{% extends "base.html.twig" %}
{% block body %}
    {% include "_partials/_header.html.twig" with {
        'title': 'Gallerie',
        'subtitle': '>>> Ajouter un sous-titre pour cette page <<<'
    } %}
    <main id="main">
        <article class="yvi-container">
            {% include "_partials/_gallery.html.twig" %}
        </article>
    </main>

{% endblock %}