<form method="post" action="{{ path('app_edit_formula_delete', {'id': formula.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer cette formule, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formula.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
