{% extends 'admin/base.html.twig' %}

{% block title %}Modifier les informations de la formule{% endblock %}

{% block body %}
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
    <div class="mb-5 p-5 pl-0">
        <h1>Modifier les informations de la formule {{ formula.title }} du projet {{ formula.project.title }}</h1>
    </div>

    {{ include('admin/formula/_form.html.twig') }}
</div>

{% endblock %}