{% extends "base.html.twig" %}

{% block body %}
    {% include "_partials/_header.html.twig" with {
        'title': 'Contacter Yvi-Music',
        'subtitle': '>>> Ajouter un sous-titre pour cette page <<<'
    } %}
    <main id="main">
        <article class="yvi-container">
            {% form_theme form 'tailwind_2_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="w-full text-white bg-blue-600 mt-4 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4">Envoyer</button>
                {{ form_end(form) }}
        </article>
    </main>

{% endblock %}