{% extends "emails/base.html.twig" %}

{% block emailContent %}
    <h1>Création de votre compte yvimusic.fr</h1>
    <p>CVotre compte Yvi-Music vient d'être créé. Merci de bien vouloir vous connecter à l'adresse <a href="https://yvimusic.fr/connexion-yvi">yvimusic.fr/connexion-yvi</a>.</p>
{% endblock %}