<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ siteInfo.getSiteInfo.title }} | {% block title %}Accueil{% endblock %}</title>
        {% include "_partials/_head.html.twig" %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body id="front">
        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
