{% extends "base.html.twig" %}
{% block body %}
    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">{% block status %}400{% endblock %}</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold">Une erreur est survenue</p>
                <p class="mb-4 text-lg font-light text-gray-500">{% block error %}Il semble que votre requête n'ait pu aboutir. Merci de ré-essayer. En cas de nouvel échec, vous pouvez contacter le gestionnaire du site.{% endblock %}</p>
                <a href="{{ path('app_main') }}" class="w-full text-white bg-blue-600 mt-4 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4">Retour à la page d'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}