{% extends "base.html.twig" %}
{% block body %}
    {% include "_partials/_header.html.twig" with {
        'title': 'Page introuvable',
        'subtitle': ''
    } %}
    <main id="main">
        <section class="yvi-container">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">{% block status %}400{% endblock %}</h2>
                    <p class="mb-4 text-3xl tracking-tight font-bold">Une erreur est survenue</p>
                    <p class="mb-4 text-lg font-light text-gray-500">{% block error %}Il semble que votre requête n'ait pu aboutir. Merci de ré-essayer. En cas de nouvel échec, vous pouvez contacter le gestionnaire du site.{% endblock %}</p>
                    <a href="{{ path('app_main') }}" class="yvi-btn">Retour à la page d'accueil</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}