<form method="post" action="{{ path('app_edit_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce partenaire, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>
